Source: media-server
Section: misc
Priority: extra
Maintainer: Yong Yeon Kim <yy9875.kim@samsung.com>, Byungwook Jang <bw.jang@samsung.com>
Uploaders:
Build-Depends: debhelper (>= 5), autotools-dev,
               libglib2.0-dev,
               libslp-setting-dev,
               dlog-dev,
               drm-service-dev,
               libaul-1-dev,
               libslp-pm-dev
Standards-Version: 0.1.0

Package: media-server
Section: utils
Architecture: any
Depends: ${misc:Depends}
Description: multimedia contents managing server.

Package: media-server-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, libmedia-utils (= ${Source-Version})
Description: media-server and libmedia-utils debug pkg.

Package: libmedia-utils
Section: libs
Architecture: any
Depends:
Description: media utils runtime library.

Package: libmedia-utils-dev
Section: devel
Architecture: any
Depends: libmedia-utils (= ${Source-Version})
Description: media utils development library.

