[Unit]
Description=Media server user

[Service]
Type=idle
CPUAccounting=true
CPUQuota=10%
ExecStart=/usr/bin/mediadb-update -r %h

[Install]
WantedBy=default.target
