[Unit]
Description=Media server

[Service]
User=multimedia_fw
Group=multimedia_fw
Type=simple
ExecStart=/usr/bin/media-server
Restart=always
RestartSec=0
MemoryLimit=100M

[Install]
WantedBy=multi-user.target
