[Unit]
Description=Media server
After=vconf-setup.service
Requires=vconf-setup.service

[Service]
Type=simple
ExecStart=/usr/bin/media-server

[Install]
WantedBy=multi-user.target
